alias cc="cargo clippy"
alias cb="cargo build"
alias cr="cargo run"
alias ct="cargo test"
alias cu="cargo update"
alias cnt="cargo nextest run --final-status-level fail --failure-output final --status-level fail"
alias cntd="cnt && cargo test --doc"

alias cl="clear"

alias xcp="xclip -selection clipboard"
alias pwcp="pwd | xcp"

alias kbfix="setxkbmap us && xmodmap ~/.Xmodmap"

alias redx="redshift -x"
alias safeE="safeeyes -e"
alias safeD="safeeyes -d"

alias joplin="joplin --profile ~/.config/joplin-desktop"

redset() {
  redshift -O $1
}
